{% extends 'productos/index.html'%}
{% block contendido %}
{% load static %}, 

<main>
  <h1>Registro de Usuario</h1>
  <form class="row g-2">
    <div class="col-md-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" required>
    </div>
    <div class="col-md-3">
      <label for="Apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="Apellido" required>
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label">Nombre de la empresa</label>
      <div class="input-group">
        <span class="empresa" id="inputGroupPrepend2"></span>
        <input type="text" class="form-control" id="empresa"  aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label">Email</label>
      <div class="input-group">
        <span class="Email" id="inputGroupPrepend2">@</span>
        <input type="email" class="form-control" id="Email"  aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
    <div class="col-md-4">
      <label for="Ciudad" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="Ciudad" required>
    </div>
    <div class="col-md-3">
      <label for="Direccion" class="form-label">Direccion de la empresa</label>
      <input type="text" class="form-control" id="Direccion" required>
    </div>
    <div class="col-10" >
      <div  class="form-check">
        <input class="form-check-input"  type="checkbox" value="" id="invalidCheck2" required>
        <label  class="form-check-label" for="invalidCheck2">
          Acepta los términos y condiciones
        </label>
      </div>
    </div>
    <div class="col-10">
      <button class="btn btn-primary" type="submit">REGISTRARSE</button>
    </div>
  </form>
</main>

{% endblock %}