{% extends 'productos/index.html'%}
{% block contendido %}
{% load static %}, 

<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm p-3 mb-2 bg-dark text-white">
            <img src="img/sii.png" width="100%" height="235px">
            <div class="card-body">
              <p class="card-text">
                <h2>Asesoría fiscal y contable</h2>
					<p>Ofrecemos servicios de asesoría fiscal y contable a empresas y particulares. Nuestros servicios incluyen:</p>
					<ul>
						<li>Contabilidad general y financiera</li>
						<li>Declaraciones de impuestos</li>
						<li>Asesoría en planificación fiscal</li>
						<li>Análisis de estados financieros</li>
						<li>Asesoría en cumplimiento normativo</li>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'registro' %}" type="button" class="btn btn-sm btn-outline-secondary">Contratar</a>
                </div>   
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm p-3 mb-2 bg-dark text-white">
            <img src="img/images.jpg" width="100%" height="235px">
            <div class="card-body">
              <p class="card-text"><h2>Asesoría laboral</h2>
                <p>Nuestros servicios de asesoría laboral incluyen:</p>
                <ul>
                  <li>Gestión de nóminas y seguridad social</li>
                  <li>Asesoría en contratación y despidos</li>
                  <li>Asesoría en relaciones laborales</li>
                  <li>Análisis de riesgos laborales</li>
                </ul></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'registro' %}" type="button" class="btn btn-sm btn-outline-secondary">Contratar</a>
                </div>     
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm p-3 mb-2 bg-dark text-white">
            <img src="img/reportecontable.png" width="100%" height="235px">
            <div class="card-body">
              <p class="card-text"><h2>Asesoría en finanzas</h2>
                <p>Nuestros servicios de asesoría en finanzas incluyen:</p>
                <ul>
                  <li>Planificación financiera</li>
                  <li>Análisis de inversiones</li>
                  <li>Asesoría en obtención de financiación</li>
                  <li>Asesoría en reestructuración financiera</li>
                  <li>Análisis de rentabilidad y solvencia</li>
                </ul></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="REGISTRO.HTML" type="button" class="btn btn-sm btn-outline-secondary">Contratar</a>
                </div>            
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm p-3 mb-2 bg-dark text-white">
            <img src="img/asesoria.jpg" width="100%" height="235px">
            <div class="card-body">
              <p class="card-text"><h2>Consultoría empresarial</h2>
                <p>Ofrecemos servicios de consultoría empresarial para ayudar a nuestros clientes a mejorar su desempeño y crecer en el mercado. Nuestros servicios incluyen:</p>
                <ul>
                  <li>Planificación estratégica</li>
                  <li>Asesoría en gestión de proyectos</li>
                  <li>Asesoría en innovación y desarrollo de productos</li>
                  <li>Asesoría en marketing y ventas</li>
                  <li>Asesoría en gestión de recursos humanos</li>
                </ul></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'registro' %}" type="button" class="btn btn-sm btn-outline-secondary">Contratar</a>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm p-3 mb-2 bg-dark text-white">          
            <img src="img/sql.png" width="100%" height="235px">
            <div class="card-body">
              <p class="card-text"><h2>Consultoría tecnologica</h2>
                <p>Ofrecemos servicios de consultoría tecnologica para ayudar a nuestros clientes a mejorar su desempeño y crecer en el mercado. Nuestros servicios incluyen:</p>
                <ul>
                  <li>Planificación web estratégica</li>
                  <li>Asesoría en gestión de proyectos web</li>
                  <li>Asesoría en innovación y desarrollo de productos web </li>
                  <li>Asesoría en marketing y ventas web </li>
                </ul></p></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'registro' %}" type="button" class="btn btn-sm btn-outline-secondary">Contratar</a>              
                </div>              
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</main>

{% endblock %}